body {
    background: #111;
    color: white;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 10px;
}

#config {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}

select, button {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

button {
    background: #00aa00;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #008800;
}

canvas {
    background: #000;
    border: 3px solid #3aff3a;
    box-shadow: 0 0 20px #3aff3a;
    margin-top: 10px;
}

#score {
    margin-top: 10px;
    font-size: 24px;
}
